<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Categorys</h4>
<!--                  <p class="card-description">-->
<!--                    Basic form elements-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'save_product' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                     <div class="form-group">
                      <label for="exampleSelectGender" >Category Name</label>
                        <select class="form-control" id="exampleSelectGender" name="category_name">
                         {% for i in categories %}
                          <option>{{i.Name}}</option>
                          {% endfor %}

                        </select>
                      </div>

                     <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control"  placeholder="Product Name"  name="product_name">
                    </div>
                      <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control"  rows="4" placeholder="Product Description" name="description"></textarea>
                    </div>
                     <div class="form-group">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control"  placeholder="Price"  name="price">
                    </div>
                     <div class="form-group">
                      <label for="exampleInputName1">Product Image</label>
                      <input type="File" class="form-control"  placeholder="Product image" name="product_image">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>

<!--//Code for the alert from cmd of sweetalert2//-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'success' %}
            <script>
                swal('{{ i }}', '', 'success');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{ i }}', '', 'error');
            </script>
        {% elif i.tags == 'warning' %}
            <script>
                swal('{{ i }}', '', 'warning');
            </script>
        {% else %}
            <script>
                swal('{{ i }}', '', 'info');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
<!--// ENDDD OFCode for the alert from cmd of sweetalert2//-->
</body>
</html>
{% endblock %}