<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Product Table</h4>
                  <p class="card-description">
                    Products <code>Tables</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table" width="100%">
                      <thead>
                        <tr>
                          <th> Name</th>
                          <th>Email</th>
                          <th>Subject</th>
                          <th>Message</th>
                          <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for i in data %}
                        <tr>
                          <td>{{i.Name}}</td>
                          <td>{{i.Email}}</td>
                          <td>{{i.Subject}}</td>
                          <td>{{i.Message}}</td>
                          <td>
                              <a href="{% url 'delete_contact_data' cnt_id=i.id %}">
                                <button class="btn btn-outline-primary">Delete</button>
                              </a>
                            </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</body>
</html>
{% endblock %}